/* Nav Bar */
header {
    width: 100%;
    height: 60px;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    float: left;
    font-family: 'Lobster Two', 'Open Sans', sans-serif;
    font-size: 40px;
    margin: auto;
    padding-left: 20px;
    color: #660018;
}

#hamburger {
    display: none;
}

ul {
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    text-transform: uppercase;
}

li {
    display: inline;
    font-family: 'Josefin Sans', 'Open Sans', 'sans-serif';
    padding: 5px;
    color: #660018;
    
}

.header-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title {
    flex: 30%;
    text-align: left;
}

#navBar {
    flex: 60%;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
}
#socIcon {
    display: flex;
    flex: 10%;
    justify-content: space-around;
    padding: 5px;

}

#socIcon img {
    padding: 5px;
}

/* Hero Section */
#hero {
    width: 100%;
    height: 400px;
    padding: auto;
    position: relative;
    margin: 0;
    background-image: url("/images/hero-background.png");
    background-repeat: none;
    background-size: cover;
}

#heroText {
    height: 75%;
    width: 35%;
    display: block;
    margin: auto;
    padding-top: 50px;
}

#heroFlexContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

#heroFlexContainer hr {
    width: 90%;
    height: 2px;
    color: #660018;
    background-color: #660018;
}

#heroFlexContainer h1 {
    font-family: 'Lobster Two', 'Open Sans', sans-serif;
    color: #660018;
    font-style: italic;
    font-size: 30px;
}

#heroFlexContainer div {
    font-family: 'Josefin Sans', 'Open Sans', 'sans-serif';
    line-height: 1.5;
    font-weight: 400;
}

#card {
    flex: 30%;
    margin-top: 90px;
    margin-left: 25px;
}

#locationAndHours {
    flex: 35%;
    text-align: center;
    color: #660018;
    font-size: 20px;
}

.hoursGrid {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contactUs {
    flex: 35%;
    text-align: center;
    color: #660018;
    font-size: 20px;
}

#contactUs img {
    padding: 10px;
}

#cardText {
    width: 250px;
    padding: 10px;
    margin-left: 25px;
    background-color: #660018;
    color: white;
    box-shadow: 5px 5px 15px grey;
    font-family: 'Josefin Sans', 'Open Sans', 'sans-serif';
    font-weight: 100;
    line-height: 1.5;
    z-index: 10;
}

#reserveImage {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Gallery Section */
.galleryGridContainer {
    display: grid;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.gridItem {
    background-color: #FFFDE4;
    font-size: 40px;
    width: 240px;
    height: 210px;
    font-family: 'Lobster Two', 'Open Sans', 'sans-serif';
    font-style: italic;
    font-weight: 700;
    color: #660018;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.avacadoToast {
    grid-area: avacadoToast;
    grid-column: 1 / span 2;
    grid-row: 1 / 3;
}
.outsideTable {
    grid-area: outsideTable;
    grid-column: 3;
    grid-row: 1 / 3;

}

.galleryCard {
    grid-column: 4;
    grid-row: 1;
}

.pinkWig {
    grid-area: pinkWig;
    grid-column: 4;
    grid-row: 2;
}

.palmierImg {
    grid-area: palmierImg;
    grid-column: 1;
    grid-row: 3;
}

.latte {
    grid-area: latte;
    grid-column: 2;
    grid-row: 3;
}

.igCard {
    grid-column: 3;
    grid-row: 3;
}

.eggAvacado {
    grid-area: eggAvacado;
    grid-column: 4;
    grid-row: 3;
}

.menuCard {
    grid-column: 1;
    grid-row: 4;
}

.buildingFront {
    grid-area: buildingFront;
    grid-column: 2 / span 2;
    grid-row: 4;
}
.crossiant {
    grid-area: crossiant;
    grid-column: 4;
    grid-row: 4;
}

.galleryImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Specialtiy Items Section */
.specialtyFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.specialtyCard {
    width: 350px;
    background-color: #FBDAE0;
    padding: 30px;
    text-align: center;
}

.specialtyCard h2 {
    font-family: 'Lobster Two', 'Open Sans', 'sans-serif';
    font-style: italic;
    color: #29000A;
}

.specialGrid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    text-align: left;
    font-family: 'Josefin Sans', 'Open Sans', 'sans-serif';
    line-height: 1.5;
    font-weight: 200;
    font-size: 20px;
    justify-content: space-between;
}

/* Testimonials */
.testTitle{
    font-family: 'Lobster Two', 'Open Sans', 'sans-serif';
    color: #660018;
    text-align: center;
    font-style: italic;
    font-size: 50px;
    margin: 25px 0px;
}
.testimonialScroll {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
}

.testimonialScroll::-webkit-scrollbar {
    width: 0;
}

.testCard {
    min-width: 320px;
    background-color: #97C29A;
    margin: 10px;
    width: 330px;
    height: 480px;
    padding: 20px;
    box-shadow: 5px 5px 5px grey;
}

.testCard img {
    max-width: 100%;
    height: 275px;

}

.cardContainer {
    font-family: 'Josefin Sans', 'Open Sans', 'sans-serif';
    line-height: 1.2;
    font-size: 20px;
}

.cardContainer h4 {
    font-weight: 400;
    text-align: justify;
}

.cardContainer p {
    text-align: right;
}

/* Footer */
footer {
    background-image: url(/images/header-background.png);
    height: 170px;
    background-repeat: none;
    background-size: cover;
    padding: 30px;
}

.footerGridContainer{
    display: grid;
    align-items: center;
    grid-template-columns: 90px auto auto auto auto;

}

.logo img{
    width: 100%;
    height: 100%;
}

.nameAndAddress h1{
    font-family: 'Lobster Two', 'Open Sans', 'sans-serif';
    font-style: italic;
    color: #660018;
    line-height: 0;
    margin-left: 5px;
}

.nameAndAddress p {
    font-family: 'Josefin Sans', 'Open Sans', 'sans-serif';
    font-weight: 200;
    line-height: 1.2;
    margin-left: 5px;
}

.hrContactTitle {
    font-family: 'Lobster Two', 'Open Sans', 'sans-serif';
    font-style: italic;
    color: #660018;
    text-align: right;
    margin-right: 10px;
}
.hrsInfo{
    font-family: 'Josefin Sans', 'Open Sans', 'sans-serif';
    font-weight: 200;
    line-height: 1.2;
    text-align: left;
}

.socials img{
    padding: 10px;
    align-items: flex-end;
}

.hrsInfoMobile, .contactMobile, .hoursGridMobile {
    display: none;
}

/* Resonpsive for Mobile */
@media only screen and (max-width: 600px) {
    /* Nav */
    #navBar {display: none;}
    #socIcon {display: none;}
    #hamburger {display: flex;}

    /* Hero */
    #heroText {
        width: 100%;
        height: 80%;
    }

    #cardText {
        width: 250px;
        padding: 10px;
        position: absolute;
        left: 20%;
        right: 25%;
        background-color: #660018;
        color: white;
        box-shadow: 5px 5px 15px grey;
        font-family: 'Josefin Sans', 'Open Sans', 'sans-serif';
        font-weight: 100;
        line-height: 1.5;
    }

    #heroFlexContainer {
        display: flex;
        flex-direction: column;
    }

    #card {
        margin-top: 110px;
        margin-left: 115px;
    }

    #reserveImage {width: 100%;}

    /* Gallery Section */
    .avacadoToast {grid-area: avacadoToast;}
    .outsideTable {grid-area: outsideTable;}
    .galleryCard {grid-area: galleryCard;}
    .pinkWig {grid-area: pinkWig;}
    .palmierImg {grid-area: palmier}
    .latte {grid-area: latte;}
    .igCard {grid-area: igCard;}
    .eggAvacado {grid-area: eggAvacado;}
    .menuCard {grid-area: menuCard;}
    .buildingFront {grid-area: buildingFront;}
    .crossiant {grid-area: crossiant;}

    .galleryGridContainer {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-row-gap: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
        grid-template-areas: "avacadoToast avacadoToast"
        "avacadoToast avacadoToast"
        "outsideTable galleryCard"
        "outsideTable pinkWig"
        "palmier latte"
        "igCard eggAvacado"
        "buildingFront buildingFront"
        "crossiant menuCard";
    }
    


    .galleryImg {
        width: 100%;
    }

    /* Specialty */
    .specialtyFlexContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .specialtyCard {
       margin-bottom: 50px;
    }

    /* Footer */

    footer {
        height: auto;
        text-align: center;
    }

    .footerGridContainer {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 30%;
        margin-left: 135px;
    }

    .nameAndAddress, .hrContactTitle, .hrsInfo {
        text-align: center;
    }


    .hrsInfoMobile, .contactMobile {
        display: grid;
        font-family: 'Josefin Sans', 'Open Sans', 'sans-serif';
        font-weight: 200;
        line-height: 1.2;
        font-style: normal;
    }

    .hrContactTitle h1 {
        font-family: 'Lobster Two', 'Open Sans', 'sans-serif';
        font-style: italic;
    }
}