/* Nav Bar */
header {
    width: 100%;
    height: 60px;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    float: left;
    font-family: 'Lobster Two', 'Open Sans', sans-serif;
    font-size: 40px;
    margin: auto;
    padding-left: 20px;
    color: #660018;
}

ul {
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    text-transform: uppercase;
}

li {
    display: inline;
    font-family: 'Josefin Sans', 'Open Sans', 'sans-serif';
    padding: 5px;
    color: #660018;
    
}

.header-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title {
    flex: 30%;
    text-align: left;
}

#navBar {
    flex: 60%;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
}
#socIcon {
    display: flex;
    flex: 10%;
    justify-content: space-around;
    padding: 5px;

}

#socIcon img {
    padding: 5px;
}

/* Hero Section */
#hero {
    width: 100%;
    height: 400px;
    padding: auto;
    position: relative;
    margin: 0;
    background-image: url("/images/hero-background.png");
    background-repeat: none;
    background-size: cover;
}

#heroText {
    height: 75%;
    width: 35%;
    display: block;
    margin: auto;
    padding-top: 50px;
}

#heroFlexContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

#heroFlexContainer hr {
    width: 90%;
    height: 2px;
    color: #660018;
    background-color: #660018;
}

#heroFlexContainer h1 {
    font-family: 'Lobster Two', 'Open Sans', sans-serif;
    color: #660018;
    font-style: italic;
    font-size: 30px;
}

#heroFlexContainer div {
    font-family: 'Josefin Sans', 'Open Sans', 'sans-serif';
    line-height: 1.5;
    font-weight: 400;
}

#card {
    flex: 30%;
    margin-top: 90px;
    margin-left: 25px;
}

#locationAndHours {
    flex: 35%;
    text-align: center;
    color: #660018;
    font-size: 20px;
}

.hoursGrid {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contactUs {
    flex: 35%;
    text-align: center;
    color: #660018;
    font-size: 20px;
}

#contactUs img {
    padding: 10px;
}

#cardText {
    width: 250px;
    padding: 10px;
    margin-left: 25px;
    background-color: #660018;
    color: white;
    box-shadow: 5px 5px 15px grey;
    font-family: 'Josefin Sans', 'Open Sans', 'sans-serif';
    font-weight: 100;
    line-height: 1.5;
    z-index: 10;
}

#reserveImage {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Gallery Section */
.avacadoToast {grid-area: avacadoToast;}
.outsideTable {grid-area: outsideTable;}
.galleryCard {grid-area: galleryCard;}
.pinkWig {grid-area: pinkWig;}
.palmierImg {grid-area: palmierImg;}
.latte {grid-area: latte;}
.igCard {grid-area: igCard;}
.eggAvacado {grid-area: eggAvacado;}
.menuCard {grid-area: menuCard;}
.buildingFront {grid-area: buildingFront;}
.crossiant {grid-area: crossiant;}

.galleryImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galleryGridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 5vw);
}

